<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Formatting_IgnoreLinesStartingWith" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;string&gt;ReSharper disable &lt;/string&gt;
  &lt;string&gt;ReSharper enable &lt;/string&gt;
&lt;/ArrayOfString&gt;</value>
            </setting>
            <setting name="Feature_BuildProgressToolWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Feature_SpadeToolWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_RunAtStartOfCleanup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Progressing_HideBuildProgressOnBuildStop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertEndOfFileTrailingNewLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Feature_CollapseSelectedSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_CollapseAllSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Feature_FindInSolutionExplorer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Progressing_ShowBuildProgressOnBuildStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Formatting_CommentRunDuringCleanup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_LoadModelsAsynchronously" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reorganizing_ExplicitMembersAtEnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_PerformWhenPreprocessorConditionals"
                serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterPropertiesSingleLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforePropertiesSingleLine"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingBeforeFieldsMultiLine"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cleaning_InsertBlankLinePaddingAfterFieldsMultiLine"
                serializeAs="String">
                <value>False</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>